@charset "UTF-8";

/*------- Шрифты -------*/

@font-face {
  font-family: 'icons';
  src: url("../fonts/icons/icons.eot?cfei");
  src: url("../fonts/icons/icons.eot?cfei#iefix") format("embedded-opentype"), url("../fonts/icons/icons.ttf?cfei") format("truetype"), url("../fonts/icons/icons.woff?cfei") format("woff"), url("../fonts/icons/icons.svg?cfei#icons") format("svg");
  font-weight: normal;
  font-style: normal;
}

[class^="icon-"],
[class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icons';
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1em;
  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-close:before {
  content: "\e91c";
}

.icon-user:before {
  content: "\e919";
}

.icon-settings:before {
  content: "\e91a";
}

.icon-exit:before {
  content: "\e91b";
}

.icon-date:before {
  content: "\e913";
}

.icon-mail:before {
  content: "\e914";
}

.icon-danger:before {
  content: "\e915";
}

.icon-check:before {
  content: "\e916";
}

.icon-car:before {
  content: "\e917";
}

.icon-coffee-type:before {
  content: "\e918";
}

.icon-coffee:before {
  content: "\e90f";
}

.icon-star:before {
  content: "\e910";
}

.icon-cart-dark:before {
  content: "\e911";
}

.icon-safe:before {
  content: "\e912";
}

.icon-menu-close:before {
  content: "\e900";
}

.icon-question:before {
  content: "\e901";
}

.icon-pricelist:before {
  content: "\e902";
}

.icon-loudspeaker:before {
  content: "\e903";
}

.icon-bean:before {
  content: "\e904";
}

.icon-purse:before {
  content: "\e905";
}

.icon-cap:before {
  content: "\e906";
}

.icon-paper:before {
  content: "\e907";
}

.icon-info-dark:before {
  content: "\e908";
}

.icon-phone:before {
  content: "\e909";
}

.icon-info:before {
  content: "\e90a";
}

.icon-bell:before {
  content: "\e90b";
}

.icon-cart:before {
  content: "\e90c";
}

.icon-auth:before {
  content: "\e90d";
}

.icon-menu:before {
  content: "\e90e";
}

.icon-facebook:before {
  content: "\f09a";
}

.icon-facebook-f:before {
  content: "\f09a";
}

.icon-dollar:before {
  content: "\f155";
}

.icon-usd:before {
  content: "\f155";
}

.icon-rouble:before {
  content: "\f158";
}

.icon-rub:before {
  content: "\f158";
}

.icon-ruble:before {
  content: "\f158";
}
@charset "UTF-8";

/*------- Нормализация -------*/

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

*:before,
*:after {
  box-sizing: border-box;
}

html {
  font-family: sans-serif;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
main,
nav,
section,
summary {
  display: block;
}

audio,
canvas,
progress,
video {
  display: inline-block;
  vertical-align: baseline;
}

audio:not([controls]) {
  display: none;
  height: 0;
}

[hidden],
template {
  display: none;
}

a {
  background: transparent;
  outline: none;
}

a:active,
a:hover {
  outline: 0;
}

abbr[title] {
  border-bottom: 1px dotted;
}

b,
strong {
  font-weight: bold;
}

dfn {
  font-style: italic;
}

mark {
  color: #000;
  background: #ff0;
}

small {
  font-size: 80%;
}

sub,
sup {
  position: relative;
  font-size: 75%;
  line-height: 0;
  vertical-align: baseline;
}

sup {
  top: -.5em;
}

sub {
  bottom: -.25em;
}

img {
  border: 0;
}

svg:not(:root) {
  overflow: hidden;
}

hr {
  height: 0;
  box-sizing: content-box;
}

pre {
  overflow: auto;
}

code,
kbd,
pre,
samp {
  font-family: monospace, monospace;
  font-size: 1em;
}

button,
input,
optgroup,
select,
textarea {
  margin: 0;
  font: inherit;
  color: inherit;
}

button {
  overflow: visible;
  outline: none;
}

button,
select {
  text-transform: none;
}

button,
html input[type="button"],
input[type="reset"],
input[type="submit"] {
  -webkit-appearance: button;
  cursor: pointer;
}

button[disabled],
html input[disabled] {
  cursor: default;
}

button::-moz-focus-inner,
input::-moz-focus-inner {
  padding: 0;
  border: 0;
}

input {
  line-height: normal;
}

input[type="checkbox"],
input[type="radio"] {
  box-sizing: border-box;
  padding: 0;
}

input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  height: auto;
}

input[type="search"] {
  box-sizing: content-box;
  -webkit-appearance: textfield;
}

input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none;
}

fieldset {
  padding: 0.35em 0.625em 0.75em;
  margin: 0 2px;
  border: 1px solid #c0c0c0;
}

legend {
  padding: 0;
  border: 0;
}

input,
textarea {
  outline: none;
}

textarea {
  overflow: auto;
}

optgroup {
  font-weight: bold;
}

table {
  border-spacing: 0;
  border-collapse: collapse;
}

td,
th {
  padding: 0;
}
@charset "UTF-8";

/*------- Основные стили -------*/

body {
  color: #000;
  font: 14px 'Roboto', sans-serif;
  background: #F9F9F9;
}

h1 {
  font-size: 30px;
  font-weight: normal;
  margin-bottom: 20px;
}

h3 {
  font-size: 18px;
  font-weight: normal;
}

.simple-link {
  color: #52C534;
  transition: color .3s linear;
}

.simple-link:hover {
  text-decoration: none;
  color: #7a7a7a;
}

.simple-link:active {
  text-decoration: none;
  color: #000;
}

.simple-link._black {
  color: #000;
  font-weight: 500;
}

.simple-link._black:hover {
  text-decoration: none;
  color: #7a7a7a;
}

.dashed-link {
  display: inline-block;
  text-decoration: none;
  color: #52C534;
  border-bottom: 1px dashed #52C534;
  transition: color .3s linear;
  position: relative;
}

.dashed-link:hover {
  border-bottom: 1px dashed transparent;
  color: #7a7a7a;
}

.dashed-link:active {
  border-bottom: 1px dashed transparent;
  color: #000;
}

.dashed-link.plus {
  margin-left: 20px;
}

.dashed-link.plus:before {
  content: '';
  display: inline-block;
  width: 11px;
  height: 11px;
  background: url("../img/icons/plus.png") no-repeat;
  margin-right: 9px;
  position: absolute;
  top: 50%;
  right: 100%;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
}

.simple-input {
  border: none;
  border-bottom: 1px solid #b8b8b8;
  padding: 3px 0;
  background: transparent;
  font-weight: 500;
}

.simple-input.wrong {
  border-bottom: 2px solid #FF5607;
}

.simple-input.ok {
  border-bottom: 2px solid #52C534;
}

.simple-input._long {
  display: block;
  width: 300px;
}

span.wrong {
  display: block;
  color: #fc5830;
  font-style: italic;
  margin-top: -3px;
}

.simple-button {
  display: inline-block;
  font-weight: 500;
  border: none;
  border-radius: 3px;
  background: #fff;
  padding: 11px 15px;
  box-shadow: 0 2px 7px rgba(0, 0, 0, 0.2);
  transition: all .3s linear;
}

.simple-button:hover {
  background: #F3F3F3;
}

.simple-button._green {
  background: #52C534;
  color: #fff;
  padding: 11px 30px;
}

.simple-button._green:hover {
  background: #F3F3F3;
  color: #000;
}

.simple-button._add-contact {
  background: #fff url("../img/icons/add-contact.png") no-repeat 92% 50%;
  padding-right: 45px;
}

.simple-button._add-contact:hover {
  background: #F3F3F3 url("../img/icons/add-contact.png") no-repeat 92% 50%;
}

.checkbox {
  margin-bottom: 15px;
}

.checkbox input:checked ~ .label-checkbox {
  color: #000;
}

.checkbox input:checked ~ .label-checkbox:before {
  border: none;
  background: url("../img/icons/checkbox.png") no-repeat;
}

.checkbox input:disabled ~ .label-checkbox {
  opacity: .5;
}

.checkbox .label-checkbox {
  display: block;
  font-weight: 500;
  color: #52C534;
  cursor: pointer;
  padding-left: 28px;
  position: relative;
}

.checkbox .label-checkbox:before {
  content: '';
  display: inline-block;
  width: 18px;
  height: 18px;
  background: #fff;
  border: 1px solid #ECECEC;
  border-radius: 1px;
  vertical-align: top;
  position: absolute;
  top: 0;
  left: 0;
}

.drag-n-drop .drop-files {
  list-style: none;
  margin-bottom: 20px;
}

.drag-n-drop .drop-files .drop-file {
  display: inline-block;
  vertical-align: top;
  padding-right: 20px;
  position: relative;
  margin-right: 20px;
}

.drag-n-drop .drop-files .drop-file .drop-file-name {
  display: inline-block;
  max-width: 200px;
  padding-left: 30px;
  color: #252525;
}

.drag-n-drop .drop-files .drop-file .drop-file-name._pdf:before {
  content: '';
  width: 20px;
  height: 20px;
  background: url("../img/icons/pdf.png") no-repeat;
  position: absolute;
  top: 0;
  left: 0;
}

.drag-n-drop .drop-files .drop-file .drop-file-delete {
  display: block;
  text-decoration: none;
  width: 10px;
  height: 10px;
  background: url("../img/icons/close-bold.png") no-repeat;
  position: absolute;
  top: 0;
  right: 0;
}

.drag-n-drop .dropzone {
  width: 100%;
  height: 130px;
  border: 1px dashed #D5D5D5;
  border-radius: 3px;
  position: relative;
}

.drag-n-drop .dropzone .dropzone-describe {
  display: block;
  width: 60%;
  color: #252525;
  font-style: italic;
  text-align: center;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

header {
  width: 100%;
  padding: 6px 35px;
  background: #FCFCFC;
  box-shadow: 0 1px 15px rgba(0, 0, 0, 0.15);
  position: fixed;
  top: 0;
  left: 0;
  z-index: 10;
}

header .menu-button {
  display: inline-block;
  width: 25px;
  overflow: hidden;
  text-decoration: none;
  font-size: 16px;
  margin-right: 35px;
  vertical-align: middle;
  color: #000;
  transition: color .3s linear;
}

header .menu-button:hover {
  color: #52C534;
}

header .logo {
  display: inline-block;
  text-decoration: none;
  vertical-align: middle;
}

header .logo img {
  display: block;
}

header .schedule {
  display: inline-block;
  margin-left: 130px;
  vertical-align: middle;
}

header .schedule .schedule-phone {
  display: inline-block;
  text-decoration: none;
  color: #000;
  font-size: 30px;
  margin-right: 25px;
  transition: color .3s linear;
}

header .schedule .schedule-phone:hover {
  color: #52C534;
}

header .schedule .schedule-work-time {
  display: inline-block;
}

header .schedule .schedule-work-time span {
  font-weight: bold;
}

header .info-bar {
  display: inline-block;
  float: right;
  margin-top: 12px;
}

header .info-bar .info-bar-item {
  display: inline-block;
  text-decoration: none;
  margin-right: 35px;
  font-size: 26px;
  color: #d9d9d9;
  cursor: pointer;
  position: relative;
  transition: all .3s linear;
}

header .info-bar .info-bar-item:last-child {
  margin-right: 0;
}

header .info-bar .info-bar-item.empty .info-bar-item-count {
  display: none;
}

header .info-bar .info-bar-item.notify .info-bar-item-detail {
  right: -55%;
}

header .info-bar .info-bar-item:hover {
  color: #000;
}

header .info-bar .info-bar-item:hover .info-bar-item-detail {
  display: block;
}

header .info-bar .info-bar-item.profile {
  width: 32px;
  height: 32px;
  text-align: center;
  line-height: 1.1;
  border-radius: 50%;
  border: 1px solid transparent;
}

header .info-bar .info-bar-item.profile:hover {
  border: 1px solid #000;
}

header .info-bar .info-bar-item.basket .info-bar-item-count {
  left: 33%;
}

header .info-bar .info-bar-item .info-bar-item-count {
  display: inline-block;
  font: bold 12px 'Roboto', sans-serif;
  color: #fff;
  text-align: center;
  line-height: 1;
  white-space: nowrap;
  background: #52C534;
  padding: 2px 3px 4px;
  border-radius: 10px;
  position: absolute;
  top: -5px;
  left: 55%;
}

header .info-bar .info-bar-item .info-bar-item-detail {
  display: none;
  font: 14px 'Roboto', sans-serif;
  min-width: 300px;
  padding: 20px 40px;
  background: #fff;
  border-radius: 3px;
  box-shadow: 0 1px 5px rgba(0, 0, 0, 0.25);
  position: absolute;
  top: 160%;
  right: -33%;
  z-index: 10;
}

header .info-bar .info-bar-item .info-bar-item-detail:before {
  content: '';
  border: solid 10px transparent;
  border-bottom: 10px solid #fff;
  position: absolute;
  right: 15px;
  top: -20px;
  z-index: 1;
}

header .info-bar .info-bar-item .info-bar-item-detail:after {
  content: '';
  border: 11px solid transparent;
  border-bottom: 11px solid #ccc;
  position: absolute;
  right: 14px;
  top: -22px;
}

header .info-bar .info-bar-item .info-bar-item-detail h3 {
  font-size: 18px;
  font-weight: normal;
  color: #000;
  display: inline-block;
  margin: 0 10px 15px 0;
  cursor: default;
}

header .info-bar .info-bar-item .info-bar-item-detail .item-detail-clear {
  display: inline-block;
  text-decoration: none;
  color: #8c8c8c;
  border-bottom: 1px dashed #8c8c8c;
  transition: all .3s linear;
}

header .info-bar .info-bar-item .info-bar-item-detail .item-detail-clear:hover {
  border-bottom: 1px dashed transparent;
}

header .info-bar .info-bar-item .info-bar-item-detail .item-detail-show-all {
  text-decoration: none;
  color: #52C534;
  border-bottom: 1px solid #52C534;
  margin-left: 63px;
  transition: all .3s linear;
}

header .info-bar .info-bar-item .info-bar-item-detail .item-detail-show-all:hover {
  border-bottom: 1px solid transparent;
}

header .info-bar .info-bar-item .info-bar-item-detail .item-detail-list {
  list-style: none;
}

header .info-bar .info-bar-item .info-bar-item-detail .item-detail-list._table {
  margin-bottom: 10px;
}

header .info-bar .info-bar-item .info-bar-item-detail .item-detail-list._table .item-detail-item .item-info-icon {
  display: inline-block;
  width: 30px;
  text-align: center;
  margin-right: 30px;
  vertical-align: middle;
}

header .info-bar .info-bar-item .info-bar-item-detail .item-detail-list._table .item-detail-item .item-info-name {
  display: inline-block;
  width: 200px;
  margin-right: 10px;
  overflow: hidden;
  white-space: nowrap;
  vertical-align: middle;
}

header .info-bar .info-bar-item .info-bar-item-detail .item-detail-list._table .item-detail-item .item-info-name span {
  display: inline-block;
  border-bottom: 1px dashed #000;
}

header .info-bar .info-bar-item .info-bar-item-detail .item-detail-list._table .item-detail-item .item-info-date {
  display: inline-block;
  vertical-align: middle;
  width: 120px;
  color: #575757;
  margin-right: 5px;
}

header .info-bar .info-bar-item .info-bar-item-detail .item-detail-list .item-detail-item {
  display: block;
  white-space: nowrap;
  text-align: left;
  margin-bottom: 15px;
}

header .info-bar .info-bar-item .info-bar-item-detail .item-detail-list .item-detail-item:last-child {
  margin: 0;
}

header .info-bar .info-bar-item .info-bar-item-detail .item-detail-list .item-detail-item:hover .item-info-icon {
  color: #000;
}

header .info-bar .info-bar-item .info-bar-item-detail .item-detail-list .item-detail-item:hover .item-info-link {
  border-bottom: 1px solid transparent;
}

header .info-bar .info-bar-item .info-bar-item-detail .item-detail-list .item-detail-item .wrap-item-info {
  text-decoration: none;
  color: #000;
}

header .info-bar .info-bar-item .info-bar-item-detail .item-detail-list .item-detail-item .item-info-icon {
  color: #4D4D4D;
  font-size: 16px;
  margin-right: 35px;
  transition: all .3s linear;
  vertical-align: middle;
}

header .info-bar .info-bar-item .info-bar-item-detail .item-detail-list .item-detail-item .item-info-icon.icon-danger {
  color: #F44336;
}

header .info-bar .info-bar-item .info-bar-item-detail .item-detail-list .item-detail-item .item-info-icon.icon-car,
header .info-bar .info-bar-item .info-bar-item-detail .item-detail-list .item-detail-item .item-info-icon.icon-coffee-type {
  color: #52C534;
}

header .info-bar .info-bar-item .info-bar-item-detail .item-detail-list .item-detail-item .item-info-icon.icon-coffee-type {
  font-size: 27px;
}

header .info-bar .info-bar-item .info-bar-item-detail .item-detail-list .item-detail-item .item-info-link {
  color: #52C534;
  display: inline-block;
  white-space: nowrap;
  border-bottom: 1px solid #52C534;
  transition: all .3s linear;
}

.wrap-main {
  margin: 64px 0 0;
  padding: 25px;
  overflow: hidden;
  position: relative;
}

.sidebar {
  width: 215px;
  float: left;
  overflow: hidden;
  transition: width .3s linear;
}

.sidebar.close {
  width: 50px;
  overflow: hidden;
}

.sidebar.close .menu-toggle span {
  -webkit-transform: rotate(180deg);
  -ms-transform: rotate(180deg);
  transform: rotate(180deg);
}

.sidebar.show-menu {
  left: 0;
}

.sidebar .sidebar-info {
  margin-bottom: -10px;
  white-space: nowrap;
}

.sidebar .sidebar-info .icon-info {
  font-size: 18px;
  display: inline-block;
  width: 50px;
  height: 50px;
  text-align: center;
  vertical-align: top;
  margin-right: 10px;
}

.sidebar .sidebar-info .icon-info-block {
  display: inline-block;
  vertical-align: top;
}

.sidebar .sidebar-info .icon-info-block p {
  font-family: 'Roboto', sans-serif;
}

.sidebar .sidebar-info .icon-info-block p.icon-info-block-title {
  color: #8c8c8c;
  margin-bottom: 5px;
}

.sidebar .sidebar-info .icon-info-block p.icon-info-block-course span {
  vertical-align: middle;
}

.sidebar .sidebar-info .icon-info-block p.icon-info-block-course span.icon-usd {
  vertical-align: top;
}

.sidebar .main-menu,
.sidebar .second-menu {
  border-bottom: 1px solid #F3F3F3;
  padding: 10px 0;
}

.sidebar .main-menu .menu-list,
.sidebar .second-menu .menu-list {
  list-style: none;
  padding-top: 10px;
}

.sidebar .main-menu .menu-list .menu-item,
.sidebar .second-menu .menu-list .menu-item {
  margin-bottom: 10px;
  padding: 0 10px;
  background: transparent;
  transition: all .3s linear;
  border-radius: 3px;
}

.sidebar .main-menu .menu-list .menu-item:hover,
.sidebar .second-menu .menu-list .menu-item:hover {
  background: #F3F3F3;
}

.sidebar .main-menu .menu-list .menu-item.active,
.sidebar .second-menu .menu-list .menu-item.active {
  background: #52C534;
}

.sidebar .main-menu .menu-list .menu-item.active a,
.sidebar .second-menu .menu-list .menu-item.active a {
  color: #fff;
}

.sidebar .main-menu .menu-list .menu-item._underline a,
.sidebar .second-menu .menu-list .menu-item._underline a {
  text-decoration: underline;
}

.sidebar .main-menu .menu-list .menu-item._underline a:hover,
.sidebar .second-menu .menu-list .menu-item._underline a:hover {
  text-decoration: none;
}

.sidebar .main-menu .menu-list .menu-item a,
.sidebar .second-menu .menu-list .menu-item a {
  text-decoration: none;
  display: block;
  color: #000;
  white-space: nowrap;
}

.sidebar .main-menu .menu-list .menu-item a span,
.sidebar .second-menu .menu-list .menu-item a span {
  display: inline-block;
  text-align: center;
  vertical-align: middle;
  width: 30px;
  height: 50px;
  line-height: 50px;
  margin-right: 25px;
  font-size: 20px;
}

.sidebar .main-menu .menu-list .menu-item a span.icon-question,
.sidebar .second-menu .menu-list .menu-item a span.icon-question {
  color: #753DF1;
}

.sidebar .main-menu .menu-list .menu-item a span.icon-pricelist,
.sidebar .second-menu .menu-list .menu-item a span.icon-pricelist {
  color: #FF9802;
}

.sidebar .menu-toggle {
  display: block;
  text-decoration: none;
  color: #000;
  padding: 0 10px;
  margin-top: 20px;
  background: transparent;
  transition: background-color .3s linear;
  border-radius: 3px;
  white-space: nowrap;
}

.sidebar .menu-toggle:hover {
  background: #F3F3F3;
}

.sidebar .menu-toggle.active {
  background: #52C534;
  color: #fff;
}

.sidebar .menu-toggle span {
  display: inline-block;
  text-align: center;
  vertical-align: middle;
  width: 30px;
  height: 50px;
  line-height: 50px;
  margin-right: 25px;
  font-size: 20px;
}

footer {
  padding: 35px;
}

footer .footer-content-wrap {
  padding: 0 230px 0 260px;
  font-weight: 500;
  transition: padding .3s linear;
  position: relative;
}

footer .footer-content-wrap .copyright {
  margin-bottom: 15px;
}

footer .footer-content-wrap .address {
  margin-bottom: 15px;
}

footer .footer-content-wrap .address address {
  display: inline-block;
  font-style: normal;
}

footer .footer-content-wrap .address .divider {
  color: #acadac;
  margin: 0 5px;
}

footer .footer-content-wrap .address a {
  color: #000;
  text-decoration: none;
  transition: color .3s linear;
  white-space: nowrap;
}

footer .footer-content-wrap .address a:hover {
  color: #52C534;
}

footer .footer-content-wrap .footer-menu {
  list-style: none;
}

footer .footer-content-wrap .footer-menu .footer-menu-item {
  display: inline-block;
  margin-right: 15px;
}

footer .footer-content-wrap .footer-menu .footer-menu-item a {
  display: inline-block;
  text-decoration: none;
  color: #acadac;
  border-bottom: 1px solid #acadac;
  transition: all .3s linear;
}

footer .footer-content-wrap .footer-menu .footer-menu-item a:hover {
  border-bottom: 1px solid transparent;
  color: #52C534;
}

footer .footer-content-wrap .develop {
  display: block;
  text-decoration: none;
  width: 135px;
  height: 25px;
  background: url("../img/icons/developer_logo.png") no-repeat center;
  position: absolute;
  top: 0;
  bottom: 0;
  right: 70px;
  margin: auto;
}

footer .footer-content-wrap .develop:hover {
  background: url("../img/icons/developer_logo_hover.png") no-repeat center;
}

.main-content {
  padding-left: 270px;
  transition: padding .3s linear;
}

.quasi-table {
  width: 660px;
  padding: 0 20px 20px 40px;
  border-bottom: 1px solid #C3C3C3;
  margin-bottom: 20px;
}

.quasi-table .quasi-table-field {
  margin-bottom: 10px;
}

.quasi-table .quasi-table-field span {
  display: inline-block;
  vertical-align: bottom;
}

.quasi-table .quasi-table-field span:first-child {
  width: 175px;
}

.quasi-table .quasi-table-field input {
  display: inline-block;
  vertical-align: bottom;
}

.quasi-table .quasi-table-field .user-card {
  display: inline-block;
  margin-left: 15px;
  vertical-align: bottom;
}

.quasi-table .quasi-table-field .user-card:before {
  content: '';
  display: inline-block;
  width: 20px;
  height: 16px;
  background: url("../img/icons/user-card.png") no-repeat;
  vertical-align: bottom;
  margin-right: 5px;
}

.quasi-table .active-order,
.quasi-table .active-order-count {
  display: inline-block;
  font-size: 18px;
  margin-top: 5px;
}

.quasi-table .active-order {
  margin-right: 5px;
}

.quasi-table form {
  padding-top: 20px;
}

.quasi-table form h3 {
  margin-bottom: 10px;
}

.quasi-table .wrap-button {
  margin-top: 20px;
}

.setting-notifications {
  width: 660px;
  padding: 0 0 10px 40px;
  border-bottom: 1px solid #C3C3C3;
}

.setting-notifications form {
  margin-top: 10px;
}

.form-card {
  display: inline-block;
  background: #fff;
  border-radius: 3px;
  box-shadow: 0 2px 7px rgba(0, 0, 0, 0.2);
  margin-bottom: 15px;
}

.form-card._no-form {
  padding: 20px 35px;
  width: 100%;
}

.form-card._no-form h3 {
  margin-bottom: 10px;
}

.form-card._no-form form {
  padding: 0;
}

.form-card._custom {
  padding: 20px 20px 20px 35px;
  width: 100%;
}

.form-card._custom input._long {
  display: inline-block;
}

.form-card._custom h3 {
  margin-bottom: 10px;
}

.form-card._custom form {
  padding: 0;
}

.form-card form {
  padding: 20px 35px;
  position: relative;
}

.form-card form._underline {
  border-bottom: 1px solid #DFDFDF;
}

.form-card form._inline {
  display: inline-block;
  vertical-align: top;
}

.form-card form._inline h3 {
  display: inline-block;
  position: relative;
  margin-bottom: 15px;
}

.form-card form._united:not(:first-child) {
  margin-top: -30px;
}

.form-card p {
  margin-bottom: 10px;
}

.form-card .wrap-input {
  margin-bottom: 10px;
}

.form-card .wrap-input._with-description label {
  margin-bottom: -15px;
}

.form-card .wrap-input .dashed-link {
  margin-left: 40px;
}

.form-card .wrap-input label {
  display: block;
  color: #252525;
}

.form-card .wrap-input .input-description {
  color: #252525;
  font-style: italic;
  display: inline-block;
  width: 320px;
  margin-left: 15px;
}

.form-card .wrap-link {
  display: block;
  vertical-align: top;
  width: 150px;
  margin-left: 10px;
  position: absolute;
  top: 0;
  left: 100%;
  line-height: 1;
}

.form-card .wrap-link a {
  display: inline;
  font-size: 14px;
  line-height: .8;
}

.form-card .wrap-checkbox {
  margin-top: 10px;
}

.form-card .wrap-checkbox .checkbox {
  display: inline-block;
  margin-bottom: 10px;
}

.form-card .wrap-checkbox .checkbox:not(:last-child) {
  margin-right: 15px;
}

.form-card .simple-button {
  margin: -10px 0 20px 35px;
}

.form-card .delete-form {
  font-size: 20px;
  color: #000;
  text-decoration: none;
  position: absolute;
  top: 60px;
  right: 75px;
}

.wrap-form-card {
  width: 700px;
  margin-bottom: 25px;
}

.wrap-form-card .wrap-buttons {
  text-align: right;
  padding-right: 40px;
}

.wrap-form-card .wrap-buttons .simple-link {
  margin-left: 15px;
}
@charset "UTF-8";

/*------- Адаптация -------*/

@media screen and (max-width: 1200px) {
  header .schedule .schedule-work-time {
    display: none;
  }

  footer .footer-content-wrap {
    padding: 0 230px 0 0;
  }
}

@media screen and (max-width: 1024px) {
  header .schedule {
    margin-left: 105px;
  }

  .main-content {
    padding-left: 245px;
  }
}

@media screen and (max-width: 960px) {
  .sidebar {
    transition: none;
    width: 50px;
    overflow: hidden;
  }

  .sidebar .menu-toggle {
    opacity: 0;
  }

  .main-content {
    padding-left: 75px;
  }
}

@media screen and (max-width: 860px) {
  header .schedule {
    margin-left: 30px;
  }
}

@media screen and (max-width: 768px) {
  header {
    padding: 6px 15px;
  }

  header .menu-button {
    margin-right: 15px;
  }

  header .schedule {
    margin-left: 15px;
  }

  .sidebar {
    width: 215px;
    background: #fff;
    padding: 30px 10px;
    border-right: 2px solid #d9d9d9;
    position: fixed;
    top: 64px;
    left: -215px;
    z-index: 9;
    overflow-y: scroll;
    height: 100%;
    transition: all .3s linear;
  }

  footer .footer-content-wrap {
    padding: 0;
    text-align: center;
  }

  footer .footer-content-wrap .address address {
    line-height: 1.5;
  }

  footer .footer-content-wrap .address .divider {
    display: none;
  }

  footer .footer-content-wrap .address a {
    display: block;
    line-height: 1.5;
  }

  footer .footer-content-wrap .develop {
    position: relative;
    right: 0;
    margin-top: 40px;
  }

  .wrap-main {
    padding: 25px 15px;
  }

  .main-content {
    padding: 0;
  }

  .quasi-table,
  .setting-notifications {
    width: 100%;
  }
}

@media screen and (max-width: 700px) {
  .quasi-table .quasi-table-field .user-card {
    display: block;
    margin-left: 0;
    margin-top: 10px;
  }
}

@media screen and (max-width: 650px) {
  header .schedule {
    display: none;
  }

  header .info-bar .info-bar-item .info-bar-item-detail {
    padding: 10px 20px;
    min-width: 220px;
  }
}

@media screen and (max-width: 610px) {
  header .info-bar .info-bar-item .info-bar-item-detail .item-detail-list._table .item-detail-item .item-info-date {
    display: none;
  }
}

@media screen and (max-width: 530px) {
  .wrap-main {
    padding: 25px 0;
  }

  h1 {
    padding-left: 15px;
  }

  .quasi-table,
  .setting-notifications {
    padding: 0 15px 15px;
  }
}

@media screen and (max-width: 480px) {
  header .info-bar .info-bar-item .info-bar-item-detail .item-detail-list._table .item-detail-item .item-info-icon {
    margin-right: 15px;
  }

  header .info-bar .info-bar-item .info-bar-item-detail .item-detail-list._table .item-detail-item .item-info-name {
    width: 180px;
  }

  header .info-bar .info-bar-item.notify .info-bar-item-detail {
    right: -125px;
  }

  header .info-bar .info-bar-item.notify .info-bar-item-detail:before {
    right: 127px;
  }

  header .info-bar .info-bar-item.notify .info-bar-item-detail:after {
    right: 126px;
  }

  header .info-bar .info-bar-item .info-bar-item-detail h3 {
    margin: 0 10px 5px 0;
  }

  header .info-bar .info-bar-item .info-bar-item-detail .item-detail-clear {
    margin-bottom: 15px;
  }

  header .info-bar .info-bar-item .info-bar-item-detail .item-detail-list._table {
    margin-bottom: 5px;
  }

  header .info-bar .info-bar-item .info-bar-item-detail .item-detail-show-all {
    margin-left: 48px;
  }

  header .info-bar .info-bar-item {
    margin-right: 25px;
  }
}

@media screen and (max-width: 480px) {
  .quasi-table .quasi-table-field span:first-child {
    width: 110px;
    margin-right: 20px;
  }
}

@media screen and (max-width: 390px) {
  .quasi-table .quasi-table-field span:last-child {
    width: 180px;
  }

  .quasi-table .quasi-table-field span,
  .quasi-table .quasi-table-field input {
    vertical-align: top;
  }
}

@media screen and (max-width: 350px) {
  .quasi-table .quasi-table-field span:first-child {
    width: 100px;
    margin-right: 5px;
  }
}